.flex-row-center{
  @include flexbox;       
  @include flex-direction(row);
  @include align-items(center); 
}

.flex-row-column{
  @include flexbox;       
  @include flex-direction(column);
  @include align-items(center); 
}

.flex-justifice-space-around{
  @include justify-content(space-around);
}

.flex-wrap{
  @include flex-wrap(wrap); 
}



/* CLASES DE TAMAÑO */
.get_width_100{
  width:100%;
}

.get_height_100{
  height:100%;
}



/* CLASES DE COLOR DE FONDO */
.BackgroundPrimary{
  background-color: $color-3; 
}
.BackgroundGris{
  background-color: $color-gris-background; 
}


/* B o r d e s */
.helper-border-top{
  border-top:solid 1px $color-gris-lineas;
}

/* CLASES BOTONES */
.boton-simple{
  background-color: $color-3; 
  color:white;
  padding: 20px 35px;
  border-radius: 4px;
  font-size:30px; 
  cursor: pointer;
  font-weight:bold;
  font-family: arial;
}
.boton-simple:hover{
  background-color: $color-3-primary_hover; 
} 


.previo-boton{
  margin-right: 10px;
  font-size: 30px;
  padding:10px;
}

















/* clases para mostrar o no */
.no-mostrar{
  display:none;
}

.mostrar-solo-mobil{

}


/*simula un link*/
.simula_link{
  cursor:pointer;
  color:  $color-3;
}

.simula_link:hover{
  color:$color-3-primary_hover;
}

.helper_cursor_pointer{
  cursor:pointer;
}

.helper_max_width_100{
  max-width: 100%;
}



.helper-relative{
  position:relative;
}

.helper-border-radius-16{
  border-radius: 16px;
}




@media (min-width: $BrackPoint-Secundario){
.mostrar-solo-mobil{
  display: none;
}


}  