
/*---  B o t o n   b a s e  ---*/


@mixin Boton-Normal($bk: $color-3, $color:white )
{
  padding: 10px 14px;  
  border: solid 2px transparent;
  border-radius: 4px;
  font-size: 28px;
  cursor:pointer;
  letter-spacing: 1.2px;
  text-align: center;
  color:$color;
  background-color:$bk ;
}
@mixin Boton-Chico($bk: $color-3, $color:white )
{
  padding: 10px 14px;  
  border: solid 2px transparent;
  border-radius: 4px;
  font-size: 28px;
  cursor:pointer;
  letter-spacing: 1.2px;
  text-align: center;
  color:$color;
  background-color:$bk ;
}
@mixin Boton-base()
{
  padding: 10px 14px;
  
  border: solid 2px transparent;
  border-radius: 4px;
  width:100%;
  cursor:pointer;
  letter-spacing: 1.2px;
  text-align: center;
}




.Boton-Fuente-Chica{
  font-size: 18px;
}

.Boton-Fuente-Grande{
  font-size: 28px;
}


.Boton-Primario-Relleno{
  @include Boton-base;
  color:$color-white;
  background-color: $color-3;
  border-color:darken( $color-3, 10% );
}
.Boton-Primario-Relleno:hover{
  background-color: lighten( $color-3, 10% );
}

.Boton-Primario-Sin-Relleno{
  @include Boton-base;
  color:$color-3;
  background-color: transparent;
  border-color:$color-3;
}
.Boton-Primario-Sin-Relleno:hover{
  background-color: $color-3;
}

.Boton-Blanco{
  @include Boton-base;
  color:$color-white;
  background-color: transparent;
  border-color:$color-white;
}
.Boton-Blanco:hover{
  background-color: darken($color-white, 10% );
  color:$color-black;
}




@media (min-width: $BrackPoint-Secundario){
 
.Boton-Fuente-Chica{
  font-size: 26px;
}
.Boton-Fuente-Grande{
  font-size: 36px;
}
}

@media (min-width: $BrackPoint-Tercer){



}