

.footer-titulo-columna{
  font-size:22px;
  letter-spacing: -1px;
  font-family:$font-secondary;

}















@media (min-width: $BrackPoint-Primario){



       

}

@media (min-width: $BrackPoint-Secundario){

    
  
}

@media (min-width: $BrackPoint-Tercer){



  
}